* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #272727;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

.produkliste{
  display: grid;
  max-width: 1000px;
  margin: auto;
  display: grid;
  gap: 38px;
   grid-template-columns: repeat(auto-fill, 200px); 
}

 h1,
p,
a,
li {
  color: white;
}
p {
  margin-bottom: 1.563rem;
}
li {
  list-style-position: inside;
}

h1 {
  font-size: 10rem;
}

body {
  margin: calc((100vh / 25) * 1.563) calc((100vw / 25) * 1.563);
  font-weight: 400;
  line-height: 1.563;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  margin-top: 1em;
  font-weight: bold;
  color: white;
} 

.brand-name{
  margin-left: 14em;
}
/* ----------------------------------------------Main Nav + span (red R) */

.mainNav h1 span {
  display: inline-block;
  transform: scaleX(-1) translateX(-0.2rem);
  color: red;
}

.mainNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
} 

/* ----------------------------------------------Main Nav Category */
.mainNavcategory {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
} 
.mainNavcategory h2 {
  font-size: 2.441rem;
  letter-spacing: -0.12rem;
  line-height: 1.2;
  color: white;
} 
.mainNavcategory h1 {
  font-size: 3.052rem;
} 
.mainNavcategory h1 span {
  display: inline-block;
  transform: scaleX(-1) translateX(-0.2rem);
  color: red;
} 
.mainNavcategory a {
  text-decoration: none;
} 
/* ----------------------------------------------Category List */

 .categorylist ol{
  display: grid;
  grid-template-columns: 1fr 1fr  ;
  gap: 2em;
  list-style-type: none;
  width: 70%;
  justify-content: center;
  margin: 0 auto;
  margin-top: 4em;

 
  
} 

.categorylist a {
  text-decoration: none;
  background-color: #949394;

  padding: 2em;
  color: white;

}    

li{
  display: grid;
}

/* ----------------------------------------------Produkt List + img */
.produkt_main img{
  width: 20%;
  margin-top: 5em;
  margin-left: 5em;
}
.produkt_info{
  margin-left: 5em;
}

/* ----------------------------------------------Produkt List + img */

 .produklist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
} 
.produklist img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}
 
/* ----------------------------------------------article produkt */


 .produkt {
  display: flex;
  flex-direction: column;
}

.produkt > * {
  margin: 0;
  font-size: 1rem;
}

.subtitle {
  color: #777677;
} 

/* ----------------------------------------------article produkt h3 */

 h3 {
  letter-spacing: -0.02rem;
  line-height: 2;
}
 
/* -------------------------------------discount p + last child*/

 .discount {
  display: flex;
  justify-content: space-between;
}

.discount p:last-child {
  background-color: red;
  padding: 0.2rem;
}
.discount > p {
  margin-bottom: 0;
}
 
/* -------------------------------Sold out*/

 .soldout {
  position: absolute;
  padding: 1rem;
  color: grey;
  align-items: center;
} 

.soldout p {
  margin: 0 auto;
}
  
/* ---------------------------Single Produkt*/

/*Main*/
 


.produkt_main {
  display: grid;
}
 

.produkt_info {
  color: white;
  padding: 1rem;
}

dd {
  margin-left: 1rem;
}
dt {
  font-weight: 700;
} 

/* ---------------------- */
.loader {
  /* Overlay concept */
  width:100%;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top:0;
left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

/* ----------------------Select */


select {
  /* Reset Select */
  appearance: none;
  outline: 10px red;
  border: 0;
  box-shadow: none;
  /* Personalize */
  flex: 1;
  padding: 0 1em;
  color: #fff;
  background-color: var(--darkgray);
  background-image: none;
  cursor: pointer;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select wrapper */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  border-radius: .25em;
  overflow: hidden;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  background-color: #34495e;
  transition: .25s all ease;
  pointer-events: none;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}





